header{
    background: linear-gradient(to right, rgb(49, 97, 180), blue, rgb(43, 50, 116));
    color: white;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
.cityInput{
    border-color: lightpink;
background-color: transparent;
}
.citySearch{
    background-color: lightpink;
    border-radius: 10px;
}

.searchContainer{
    margin: 3rem;
    width:25%;
}
.currentWeatherContainer{
    border: 1px black solid;
    width: 75%;
    height: 25rem;
    
}
.weatherH1{
    color:pink;
}
/* css for individual cards */
.forecastCard{
    background-color: cornflowerblue;
    width:200px;
    height:200px;
    border: 3px solid cornflowerblue;
    border-radius: 5px;
    box-shadow:  3px 6px black;
    
}
/* spaces out cards */
.forecastContainer{
    display: flex;
    justify-content: space-evenly;
}
.cityButt{
    background-color: lightpink;
    border-radius: 10px;
    flex-direction: column;
}